<!DOCTYPE html>
<html lang="en-us" id="app" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="baidu-site-verification" content="IEgE0n6XMv"/>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo/site-ico.png"/>

  <!-- Enable HTML5 mode -->
  <base href="/console/">
<link href="/static/assets/css/vendor.bb0425d0.min.css" rel="stylesheet"><link href="/static/assets/css/app.bb0425d0.min.css" rel="stylesheet"></head>

<body ng-controller="SmartAppController" class="rb-console smart-style-2">
<rb-layout></rb-layout>

<!-- Legacy items -->
<div class="alauda-settings hidden">
  <span id="console-username">{{username}}</span>
  <span id="cp-namespace">{{ namespace }}</span>
  <span id="alauda_image_index">{{ alauda_image_index }}</span>
  <span id="public_repo_index">{{ public_repo_index }}</span>
  <span id="is_private_deploy_enabled">{{ is_private_deploy_enabled }}</span>
  <span id="private_deploy_password_pattern_type">{{ private_deploy_password_pattern_type }}</span>
  <span id="third_party_login_type">{{ third_party_login_type }}</span>
  <span id="is_external_content_enabled">{{ is_external_content_enabled }}</span>
  <span id="external_content_label">{{ external_content_label }}</span>
  <span id="cookie_domain">{{ cookie_domain }}</span>
  <span id="user_docs_url">{{ user_docs_url }}</span>
  <div id="rubick-nodata" class="top-spacing-base">No data available.</div>
</div>
<script type="text/javascript" src="/static/js/libs/baidu/hm.js"></script>
<script type="text/javascript" src="/static/assets/js/vendor.4.bb0425d02e17b844946a.js"></script><script type="text/javascript" src="/static/assets/js/app_template.1.bb0425d02e17b844946a.js"></script><script type="text/javascript" src="/static/assets/js/app.0.bb0425d02e17b844946a.js"></script></body>
</html>
