<!DOCTYPE html>
<html lang="en-us" landing-index>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="baidu-site-verification" content="IEgE0n6XMv"/>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/logo/site-ico.png"/>

  <!-- Enable HTML5 mode -->
  <base href="/landing/">
  <style>
    /* Following is inlined since we don't want to let the user see layout reflow issues */
    html[landing-index] {
      font-size: 14px;
      height: 100%;
    }
    body.login-body {
      box-sizing: border-box;
      background-color: #f1f1f1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column;
      flex-flow: column;
      min-height: 100%;
      justify-content: center;
      padding: 30px;
      margin: 0;
      color: #494949;
      font-family: HelveticaNeue-Light, Helvetica Neue, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
      font-weight: 400;
    }
    body.login-body > app {
      align-self: center;
    }
  </style>
<link href="/static/assets/css/landing_vendor.bb0425d0.min.css" rel="stylesheet"><link href="/static/assets/css/landing.bb0425d0.min.css" rel="stylesheet"></head>

<body class="login-body">
  <app>
    <!-- Switch to a nice looking one if needed -->
    <span style="font-size: 24px;">
      <script>
        const locale = window.localStorage['alauda_locale'] || window.navigator.language || 'en';
        if (['zh_cn', 'zh-cn', 'zh'].includes(locale.toLowerCase())) {
          document.write('载入中, 请稍后 ...');
        } else {
          document.write('Loading ...');
        }
      </script>
    </span>
  </app>
<script type="text/javascript" src="/static/assets/js/landing_vendor.3.bb0425d02e17b844946a.js"></script><script type="text/javascript" src="/static/assets/js/landing.2.bb0425d02e17b844946a.js"></script></body>

<div class="alauda-settings" style="display: none;">
  <span class="is_debug">{{ is_debug }}</span>
  <span class="is_private_deploy_enabled">{{ is_private_deploy_enabled }}</span>
  <span class="private_deploy_password_pattern_type">{{ private_deploy_password_pattern_type }}</span>
  <span class="third_party_login_type">{{ third_party_login_type }}</span>
</div>
<script type="text/javascript" src="/static/js/libs/baidu/hm.js"></script>
</html>
